'kipod-x':
    title: 'kipod-x'
    template: 'default-template'
    paths: [
        '/home/max/work/kipod-x'
    ]
    settings:
        '*':
            core:
                ignoredNames: [
                    '.git',
                    'dev/webui/app/kp/'
                ],
            'autocomplete-python':
                extraPaths: '/home/max/envs/kx/lib/python2.7/site-packages;$PROJECT/dev'
                pythonPath: '/home/max/envs/kx/bin/python'
            'linter-flake8':
                executablePath: '/home/max/envs/kx/bin/flake8'
                ignoreErrorCodes: [
                    'E128'
                    'C901'
                ]

'kipod-js-plugins':
    title: 'kipod-js-plugins'
    template: 'default-template'
    paths: [
        '/home/max/work/kipod-js-plugins'
    ]
    settings:
        '.js.source':
            editor:
                tabLength: 4
        '.stylus.source':
            editor:
                tabLength: 4
        '.html.text':
            editor:
                tabLength: 4

'kipod-station':
    title: 'kipod-station'
    template: 'default-template'
    paths: [
        '/home/max/work/kipod-station'
    ]

'vivi':
    title: 'vivi (proxy)'
    template: 'default-template'
    paths: [
        '/home/max/work/vivi'
    ]

# yesreservations:
#   title: 'yesreservations'
#   template: 'default-template'
#   paths: [
#     '/home/max/work/yesreservations'
#   ]
#   settings:
#     'autocomplete-python':
#       extraPaths: '/home/max/envs/yes/lib/python2.7/site-packages;$PROJECT/apps'
#       pythonPath: '/home/max/envs/yes/bin/python'
#     'linter-flake8':
#       binaryName: '/home/max/envs/yes/bin/flake8'
#
# 'my-atom':
#   title: 'my-atom'
#   template: 'default-template'
#   paths: [
#     '/home/max/work/my-atom'
#   ]

'default-template':
    settings:
        '*':
            editor:
                tabLength: 4
